/* footer.module.css */

.footer {
  background-color: #111;
  color: #fff;
  padding: 40px 20px 20px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1 1 220px;
}

.footer-logo {
  width: 140px;
  margin-bottom: 15px;
}

.footer-socials a {
  color: #fff;
  margin-right: 10px;
  font-size: 16px;
  transition: 0.3s;
}

.footer-socials a:hover {
  color: #f4a03f;
}

.footer-column h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-column ul li a:hover {
  color: #f4a03f;
}

.footer-email {
  display: flex;
}

.footer-email input {
  padding: 8px;
  border: none;
  flex: 1;
}

.footer-email button {
  padding: 8px 16px;
  border: none;
  background: rgb(177, 163, 50);
  color: black;
  cursor: pointer;
}

.footer-bottom {
  border-top: 1px solid #444;
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 13px;
}

.footer-bottom span {
  color: #f4a03f;
}
